# Lambda layer: openai - deprecated
# ------------
openai==1.55.3

# Lambda layer: common - deprecated
# ------------
python-dotenv==1.0.1
pydantic==2.10.2
pydantic-settings==2.6.0
python-hcl2==5.1.1

requests
beautifulsoup4
pyyaml
jinja2